<h1>Movies</h1>
<br>
<td><%= link_to 'New Movie', new_movie_path %></td>
<table style="width:50%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tilte</th>
      <th>Description</th>
      <th>Genre</th>
      <th>Original language</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><%= movie.title %></td>
        <td><%= movie.description %></td>
        <td><%= movie.genre %></td>
        <td><%= movie.original_language %></td>
      </tr>
    <% end %>
  </tbody>
</table>